body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content{
  background: #eee; 
  border: 1px solid white; 
  padding: 15px; 
  margin: 15px;
}

/* Responsive */
@media screen and (max-width: 991px) {
	.content {
    
    background:none;  
		flex-direction:  column;
		-o-flex-direction:  column;
		-ms-flex-direction:  column;
		-moz-flex-direction:  column;
    -webkit-flex-direction:  column;
    margin-left: auto;
		margin-right: auto;
  }
}
  
@media screen and (max-width: 767px) {
  .content {
    background:none;  
		flex-direction:  column;
		-o-flex-direction:  column;
		-ms-flex-direction:  column;
		-moz-flex-direction:  column;
    -webkit-flex-direction:  column;
    margin-left: auto;
		margin-right: auto;
  }
	
}

@media screen and (max-width: 575px) {
  .content {
    
    background:none;   
		flex-direction:  column;
		-o-flex-direction:  column;
		-ms-flex-direction:  column;
		-moz-flex-direction:  column;
    -webkit-flex-direction:  column;
    margin-left: auto;
		margin-right: auto;
  }
}